:root {
    --greenAccent: #2d6a4f;
}

body {
    font-family: "Lato";
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #fb0404;
}

.nav-link:hover {
    color: black;
}

.btnBackground {
    background: linear-gradient( to bottom, var(--greenAccent) 0%, var(--greenAccent) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    color: #000;
    text-decoration: none;
    transition: background-size 0.5s;
    font-size: 1.2rem;
    padding: 5px;
}

.btnBackground:hover {
    background-size: 50px 50px;
    color: white !important;
}

.fb-link-container {
    color: white;
    display: block;
    margin: auto;
    max-width: 800px;
}

.fb-link:hover {
    color: #3b5998;
}

.header {
    color: white;
    font-size: 2rem;
    /* -webkit-text-stroke: 0.5px black; */
}

.jumbotron {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./img/standingInfrontOfTree.jpg) no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.img-div {
    padding-top: 5rem !important;
    padding-bottom: 10rem !important;
}

.phoneBackground {
    background: linear-gradient( to bottom, var(--greenAccent) 0%, var(--greenAccent) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    text-decoration: none;
    color: white;
    transition: background-size 0.5s;
    padding: 5px;
}

.phoneBackground:hover {
    background-size: 50px 50px;
    color: black !important;
}


/* breakpoints */


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (max-width: 765px) {
    #fb-text {
        display: none;
    }
    .bi-facebook {
        font-size: 1.5rem;
    }
    .tp-link {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}